<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2" style="text-align: center;">
                <h1 class="mt-5">Realtime Emotion Monitoring</h3>
                <h3 class="mt-5">Client</h3>
                <img src="{{ url_for('video_feed') }}" width="25%">
                <h3 class="mt-5">Consultant</h3>
                <img src="{{ url_for('static',filename='gif_2.gif') }}" width="25%">
                
            </div>
        </div>
    </div>
</body>